{% extends 'base.html.twig' %}

{% block title %}Hello AppController!
{% endblock %}

{% block body %}

	{% for item in data %}
		<div style="{{item.style}}">{{item.text}}</div>
	{% endfor %}
{% endblock %}
